.iastands-blogslider-1 {
  position: relative;
  margin-bottom: 60px;
  margin-top: 20px;
}

.iastands-blogslider-1 .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5%;
}

@media (min-width: 1200px) {
  .iastands-blogslider-1 .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
    padding-right: 38px;
  }
}

.iastands-blogslider-1 .MS-content .item {

  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 25%;
  margin:5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
}

@media (max-width: 991px) {
  .iastands-blogslider-1 .MS-content .item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .iastands-blogslider-1 .MS-content .item {
    width: 100%;
  }
}

.iastands-blogslider-1 .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 50px;
  top: 95px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}

.iastands-blogslider-1 .MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 992px) {
  .iastands-blogslider-1 .MS-controls button {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .iastands-blogslider-1 .MS-controls button {
    font-size: 20px;
  }
}

.iastands-blogslider-1 .MS-controls .MS-left {
  left: 0px;
}

@media (max-width: 767px) {
  .iastands-blogslider-1 .MS-controls .MS-left {
    left: -10px;
  }
}

.iastands-blogslider-1 .MS-controls .MS-right {
  right: 0px;
}

@media (max-width: 767px) {
  .iastands-blogslider-1 .MS-controls .MS-right {
    right: -10px;
  }
}

/* 2nd start */
.iastands-blogslider-2 {
  position: relative;
  margin-bottom: 60px;
  margin-top: 20px;
}

.iastands-blogslider-2 .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5%;
}

@media (min-width: 1200px) {
  .iastands-blogslider-2 .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
    padding-right: 38px;
  }
}

.iastands-blogslider-2 .MS-content .item {

  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 25%;
  margin:5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
}

@media (max-width: 991px) {
  .iastands-blogslider-2 .MS-content .item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .iastands-blogslider-2 .MS-content .item {
    width: 100%;
  }
}

.iastands-blogslider-2 .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 50px;
  top: 95px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}

.iastands-blogslider-2 .MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 992px) {
  .iastands-blogslider-2 .MS-controls button {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .iastands-blogslider-2 .MS-controls button {
    font-size: 20px;
  }
}

.iastands-blogslider-2 .MS-controls .MS-left {
  left: 0px;
}

@media (max-width: 767px) {
  .iastands-blogslider-2 .MS-controls .MS-left {
    left: -10px;
  }
}

.iastands-blogslider-2 .MS-controls .MS-right {
  right: 0px;
}

@media (max-width: 767px) {
  .iastands-blogslider-2 .MS-controls .MS-right {
    right: -10px;
  }
}
/* 2nd over */


/* 3rd start DONOT COPY THIS */
.iastands-blogslider-3 {
  position: relative;
  margin-bottom: 60px;
  margin-top: 20px;
}

.iastands-blogslider-3 .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5%;
}

@media (min-width: 1200px) {
  .iastands-blogslider-3 .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
    padding-right: 38px;
  }
}

.iastands-blogslider-3 .MS-content .item {

  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 25%;
  margin:50px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
}

@media (max-width: 1200px) {
  .iastands-blogslider-3 .MS-content .item {
    width: 25%;
    margin:33px;
  }
}
@media (max-width: 991px) {
  .iastands-blogslider-3 .MS-content .item {
    width: 50%;
    margin:5px;
  }
}

@media (max-width: 767px) {
  .iastands-blogslider-3 .MS-content .item {
    width: 100%;
  }
}

.iastands-blogslider-3 .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 50px;
  top: 95px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}

.iastands-blogslider-3 .MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 992px) {
  .iastands-blogslider-3 .MS-controls button {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .iastands-blogslider-3 .MS-controls button {
    font-size: 20px;
  }
}

.iastands-blogslider-3 .MS-controls .MS-left {
  left: 0px;
}

@media (max-width: 767px) {
  .iastands-blogslider-3 .MS-controls .MS-left {
    left: -10px;
  }
}

.iastands-blogslider-3 .MS-controls .MS-right {
  right: 0px;
}

@media (max-width: 767px) {
  .iastands-blogslider-3 .MS-controls .MS-right {
    right: -10px;
  }
}
/* 3nd over */


/* 4th start */
.iastands-blogslider-4 {
  position: relative;
  margin-bottom: 60px;
  margin-top: 20px;
}

.iastands-blogslider-4 .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5%;
}

@media (min-width: 1200px) {
  .iastands-blogslider-4 .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
    padding-right: 38px;
  }
}

.iastands-blogslider-4 .MS-content .item {

  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 25%;
  margin:5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
}

@media (max-width: 991px) {
  .iastands-blogslider-4 .MS-content .item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .iastands-blogslider-4 .MS-content .item {
    width: 100%;
  }
}

.iastands-blogslider-4 .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 50px;
  top: 95px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}

.iastands-blogslider-4 .MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 992px) {
  .iastands-blogslider-4 .MS-controls button {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .iastands-blogslider-4 .MS-controls button {
    font-size: 20px;
  }
}

.iastands-blogslider-4 .MS-controls .MS-left {
  left: 0px;
}

@media (max-width: 767px) {
  .iastands-blogslider-4 .MS-controls .MS-left {
    left: -10px;
  }
}

.iastands-blogslider-4 .MS-controls .MS-right {
  right: 0px;
}

@media (max-width: 767px) {
  .iastands-blogslider-4 .MS-controls .MS-right {
    right: -10px;
  }
}
/* 4th over */

/* 5th start */
.iastands-blogslider-5 {
  position: relative;
  margin-bottom: 60px;
  margin-top: 20px;
}

.iastands-blogslider-5 .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5%;
}

@media (min-width: 1200px) {
  .iastands-blogslider-5 .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
    padding-right: 38px;
  }
}

.iastands-blogslider-5 .MS-content .item {

  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 25%;
  margin:5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
}

@media (max-width: 991px) {
  .iastands-blogslider-5 .MS-content .item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .iastands-blogslider-5 .MS-content .item {
    width: 100%;
  }
}

.iastands-blogslider-5 .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 50px;
  top: 95px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}

.iastands-blogslider-5 .MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 992px) {
  .iastands-blogslider-5 .MS-controls button {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .iastands-blogslider-5 .MS-controls button {
    font-size: 20px;
  }
}

.iastands-blogslider-5 .MS-controls .MS-left {
  left: 0px;
}

@media (max-width: 767px) {
  .iastands-blogslider-5 .MS-controls .MS-left {
    left: -10px;
  }
}

.iastands-blogslider-5 .MS-controls .MS-right {
  right: 0px;
}

@media (max-width: 767px) {
  .iastands-blogslider-5 .MS-controls .MS-right {
    right: -10px;
  }
}
/* 5th over */